.footer-figure
{
    opacity: 0;
    cursor: pointer;
    position: absolute;
    z-index: 2;
    background-color: rgba(26,187,156,0.9);
    transition: all 200ms ease-out;

    &:hover
    {
        opacity: 1;
    }

    &__plus-image
    {
        &_small
        {
            margin-top: 35px;
        }
    }

    &_small
    {
        width: 125px;
        height: 85px;
    }
}