.latest-works-figure
{
    opacity: 0;
    cursor: pointer;
    position: absolute;
    z-index: 2;
    background-color: rgba(26,187,156,0.9);
    transition: all 200ms ease-out;

    &:hover
    {
        opacity: 1;
    }

    &__plus-image
    {
        &_small
        {
            margin-top: 35px;
        }

        &_big
        {
            margin-top: 195px;
        }
    }

    &__subheader
    {
        font: 14px/18px 'Lato', sans-serif;
        color: $white_font_color;
    }

    &__figcaption
    {
        min-height: 110px;
        background-color: #fff;

        &_title
        {
            padding-top: 30px;
            font: 600 20px/26px 'Lato', sans-serif;
            color: $main_font_color;
            cursor: pointer;

            &:hover
            {
                color: $hover_font_color;
            }
        }

        &_text
        {
            display: block;
            margin-top: 10px;
            font: 14px/18px 'Lato', sans-serif;
            color: $main_font_color;
        }
    }

    &_big
    {
        width: 570px;
        height: 390px;
    }

    &_small
    {
        width: 270px;
        height: 185px;
        font: 700 16px/22px 'Lato', sans-serif;
        color: $white_font_color;
        padding-top: 75px;
        text-align: center;
    }
}