$white_font_color: rgb(255,255,255);
$main_font_color: rgb(83,106,134);
$hover_font_color: rgb(60, 187, 155);

@mixin font_style($color, $fonts...)
{
	font: $fonts;
	color: $color;
}

@mixin hero-carousel__element_background($elem_num)
{
	background: url(../img/hero-carousel__element_background-#{$elem_num}.png) no-repeat 50% 0;
}