@import "reset";
@import "mixins";
@import 'settings';
@import '../../../node_modules/foundation-sites/scss/foundation';

.header
{
  .navbar_header__background
  {
	height: 40px;
	background-color: rgb(245,247,249);

	.navbar_header__container
	{
	  padding: 0 10px 0 0;

	  .navbar_header
	  {
		.navbar_header__contact
		{
		  .navbar_header__contact_mail
		  {
			@include font_style($main_font_color, 700 12px/20px 'Source Sans Pro', sans-serif);
			background: url(../img/icon-mail-dark.png) no-repeat 0 50%;
			margin-left: 15px;
			padding-left: 20px;
			cursor: pointer;

			&:hover
			{
			  color: $hover_font_color;
			  background: url(../img/icon-mail-hover.png) no-repeat 0 50%;
			}
		  }

		  .navbar_header__contact_phone
		  {
			@include font_style($main_font_color, 700 12px/20px 'Source Sans Pro', sans-serif);
			background: url(../img/icon-mobile-dark.png) no-repeat 0 50%;
			margin-left: 25px;
			padding-left: 15px;
		  }
		}

		.navbar_header__social
		{
		  padding-right: 3px;

		  .navbar_header__social-image
		  {
			width: 30px;
			height: 40px;
			margin: 0;
		  }

		  .navbar_header__social-image-1
		  {
			background: url(../img/icon-s-facebook.png) no-repeat 50% 50%;

			&:hover
			{
			  background: url(../img/icon-s-facebook_white.png) no-repeat 50% 50% #4567b3;
			}
		  }

		  .navbar_header__social-image-2
		  {
			background: url(../img/icon-s-gplus.png) no-repeat 50% 50%;

			&:hover
			{
			  background: url(../img/icon-s-gplus_white.png) no-repeat 50% 50% #dd5745;
			}
		  }

		  .navbar_header__social-image-3
		  {
			background: url(../img/icon-s-twitter.png) no-repeat 50% 50%;

			&:hover
			{
			  background: url(../img/icon-s-twitter_white.png) no-repeat 50% 50% #2fbbed;
			}
		  }

		  .navbar_header__social-image-4
		  {
			background: url(../img/icon-s-pinterest.png) no-repeat 50% 50%;

			&:hover
			{
			  background: url(../img/icon-s-pinterest_white.png) no-repeat 50% 50% #d94347;
			}
		  }

		  .navbar_header__social-image-5
		  {
			background: url(../img/icon-s-behance.png) no-repeat 50% 50%;

			&:hover
			{
			  background: url(../img/icon-s-behance_white.png) no-repeat 50% 50% #2f79ff;
			}
		  }

		  .navbar_header__social-image-6
		  {
			background: url(../img/icon-s-dribbble.png) no-repeat 50% 50%;

			&:hover
			{
			  background: url(../img/icon-s-dribbble_white.png) no-repeat 50% 50% #eb6397;
			}
		  }
		}
	  }
	}
  }

  .navbar__container
  {
	.navbar
	{
	  height: 110px;

	  .navbar__logo
	  {
		background: url(../img/logo_reen_big.png) no-repeat 0 50%;
		cursor: pointer;

		&:hover
		{
		  background: url(../img/logo_reen_big_hover.png) no-repeat 0 50%;
		}
	  }

	  .navbar__menu
	  {
		margin-left: 35px;

		.navbar__menu-element
		{
		  @include font_style($main_font_color, 700 15px/18px 'Source Sans Pro', sans-serif);
		  cursor: pointer;
		  height: 52px;
		  line-height: 50px;
		  padding: 0 21px;
		  margin-left: 0;
		  position: static;

		  &:hover
		  {
			box-shadow: 5px 8.66px 10px rgba(0,0,0,0.1);
			background-color: #f5f7f9;
			border: 1px solid red;//#e5e9ed;
			color: $hover_font_color;
			border-bottom: none;
			z-index: 2;

			.mega-menu__container
			{
			  display: block;
			}

			.home__menu_container
			{
			  display: block;
			}
		  }
		}

		.navbar__menu-element_home
		{
		  .home__menu_container
		  {
			position: absolute;
			background-color: #f5f7f9;
			border-radius: 3px;
			left: 0;
			display: none;
			z-index: 1;

			.home__menu_element
			{
			  @include font_style($main_font_color, 700 15px/18px 'Source Sans Pro', sans-serif);
			  width: 210px;
			  height: 50px;
			  line-height: 50px;
			  margin: 0;
			  padding-left: 20px;
			  border: 1px solid #e5e9ed;
			  border-bottom: none;
			  z-index: 1;

			  &:hover
			  {
				border-radius: 3px;
				background-color: #00bb9b;
				color: $white_font_color;
			  }
			}

			.home__menu_element-5
			{
			  border-bottom: 1px solid #e5e9ed;
			}
		  }
		}

		.navbar__menu-element_mega-menu
		{
		  .mega-menu__container
		  {
			width: 1170px;
			height: 420px;
			box-shadow: 5px 8.66px 10px rgba(0,0,0,0.1);
			background-color: #f5f7f9;
			border: 1px solid #e5e9ed;
			padding: 0 40px;
			left: -230px;
			position: absolute;
			border-radius: 3px;
			display: none;
			cursor: auto;
			z-index: 1;

			.mega-menu
			{
			  .mega-menu__block
			  {
				.mega-menu__block_headline
				{
				  @include font_style($main_font_color, 900 16px/22px 'Lato', sans-serif);
				  letter-spacing: 1px;
				  margin-top: 30px;
				}

				.mega-menu__block_text
				{
				  @include font_style($main_font_color, 600 14px/22px 'Source Sans Pro', sans-serif);
				}
			  }

			  .mega-menu__focus-on
			  {
				.mega-menu__focus-on_image
				{
				  width: 240px;
				  height: 164px;
				  margin-top: 25px;
				  background: url(../img/faint_phone.png) no-repeat 0 0;
				  cursor: pointer;

				  .plus_icon
				  {
					opacity: 0;
					margin-top: 75px;
				  }

				  &:hover
				  {
					background: 0 -165px rgba(60, 187, 155, 0.9);

					.plus_icon
					{
					  opacity: 1;
					}
				  }
				}

				.mega-menu__focus-on_text
				{
				  margin-top: 25px;
				}

				.mega-menu__focus-on_button
				{
				  display: block;
				  @include font_style($white_font_color, 700 14px/44px 'Source Sans Pro', sans-serif);
				  width: 133px;
				  height: 44px;
				  border-radius: 3px;
				  margin-top: 30px;
				}
			  }

			  .mega-menu__speciale-page
			  {
				.mega-menu__speciale-page_menu
				{
				  margin: 20px 0 0;

				  .mega-menu__speciale-page_menu-element
				  {
					margin: 5px 0 0 0;
					padding-left: 20px;
					background: url(../img/circle-list-item.png) no-repeat 0 50%;
					@include font_style($main_font_color, 600 14px/22px 'Source Sans Pro', sans-serif);
					cursor: pointer;

					&:hover
					{
					  color: $hover_font_color;
					}
				  }
				}
			  }

			  .mega-menu__latest-works
			  {
				.mega-menu__latest-works_headline
				{
				  margin-bottom: 25px;
				}

				.mega-menu__latest-works_image
				{
				  width: 118px;
				  height: 80px;
				  cursor: pointer;
				  float: left;

				  .plus_icon
				  {
					opacity: 0;
					margin-top: 30px;
				  }

				  &:hover
				  {
					background: 0 -81px rgba(60, 187, 155, 0.9);

					.plus_icon
					{
					  opacity: 1;
					}
				  }
				}

				.mega-menu__latest-works_image-1
				{
				  margin: 0 5px 5px 0;
				  background: url(../img/latest_work_1_mm.png) no-repeat 0 0;
				}

				.mega-menu__latest-works_image-2
				{
				  margin: 0 0 5px 0;
				  background: url(../img/latest_work_2_mm.png) no-repeat 0 0;
				}

				.mega-menu__latest-works_image-3
				{
				  margin: 0 5px 5px 0;
				  background: url(../img/latest_work_3_mm.png) no-repeat 0 0;
				}

				.mega-menu__latest-works_image-4
				{
				  margin: 0 0 5px 0;
				  background: url(../img/latest_work_4_mm.png) no-repeat 0 0;
				}

				.mega-menu__latest-works_image-5
				{
				  margin: 0 5px 0 0;
				  background: url(../img/latest_work_5_mm.png) no-repeat 0 0;
				}

				.mega-menu__latest-works_image-6
				{
				  background: url(../img/latest_work_6_mm.png) no-repeat 0 0;
				}
			  }

			  .mega-menu__about-us
			  {
				.mega-menu__about-us_text
				{
				  margin-top: 20px;
				}

				.mega-menu__about-us_button
				{
				  display: block;
				  @include font_style($white_font_color, 700 14px/44px 'Source Sans Pro', sans-serif);
				  width: 115px;
				  height: 44px;
				  border-radius: 3px;
				  margin-top: 30px;
				}
			  }
			}
		  }
		}
	  }

	  .navbar__search
	  {
		width: 15px;
		height: 15px;
		background: url(../img/icon-search.png) no-repeat 50% 50%;
		margin: 50px 20px 50px auto;
		padding-right: 20px;
		cursor: pointer;
	  }
	}
  }
}

.main
{
  .hero-carousel__container
  {
	height: 880px;

	.hero-carousel__wrapper
	{
	  .hero-carousel_controls
	  {
		.hero-carousel__nav-button
		{
		  width: 60px;
		  height: 60px;
		}
	  }

	  .hero-carousel
	  {
		.hero-carousel__element
		{
		  .hero-carousel__element-container
		  {
			height: 880px;

			.hero-carousel__element-title
			{
			  @include font_style($white_font_color, 900 78px/88px 'Lato', sans-serif);
			  letter-spacing: 3px;
			}

			.hero-carousel__element-text
			{
			  @include font_style(#A5B1C0, 24px/32px 'Lato', sans-serif);
			}

			.hero-carousel__element-button
			{
			  @include font_style($white_font_color, 700  18px/32px 'Source Sans Pro', sans-serif);
			  width: 295px;
			  height: 65px;
			  cursor: pointer;
			  border-radius: 3px;
			}
		  }
		}

		.hero-carousel__element-1
		{
		  .hero-carousel__element-container-1
		  {
			@include hero-carousel__element_background(1);

			.hero-carousel__element-title-1
			{
			  padding-top: 290px;
			}

			.hero-carousel__element-text-1
			{
			  margin-top: 10px;
			  letter-spacing: 0.5px;
			}

			.hero-carousel__element-button-1
			{
			  margin: 65px auto 0;
			}
		  }
		}

		.hero-carousel__element-2
		{
		  .hero-carousel__element-container-2
		  {
			@include hero-carousel__element_background(2);

			.hero-carousel__element-title-2
			{
			  padding-top: 240px;
			}

			.hero-carousel__element-text-2
			{
			  margin-top: 20px;
			  color: $white_font_color;
			}

			.hero-carousel__element-button-2
			{
			  margin-top: 60px;
			}
		  }
		}

		.hero-carousel__element-3
		{
		  .hero-carousel__element-container-3
		  {
			@include hero-carousel__element_background(3);

			.hero-carousel__element_block-3
			{
			  padding-top: 200px;

			  .hero-carousel__element-title-3-1
			  {
				color: $white_font_color;
				background-color: #536A86;
				padding: 20px 40px;
				width: 550px;
			  }

			  .hero-carousel__element-title-3-2
			  {
				color: $white_font_color;
				background-color: #536A86;
				margin-top: 5px;
				padding: 20px 40px;
				width: 740px;
			  }

			  .hero-carousel__element-text-3
			  {
				margin-top: 35px;
				color: #536A86;
			  }

			  .hero-carousel__element-button-3
			  {
				margin-top: 50px;
			  }
			}
		  }
		}

		.hero-carousel__element-4
		{
		  .hero-carousel__element-container-4
		  {
			@include hero-carousel__element_background(4);

			.hero-carousel__element_block-4
			{
			  padding-top: 85px;

			  .hero-carousel__element-title-4-1
			  {
				color: $white_font_color;
				background-color: #536A86;
				padding: 20px 40px;
				width: 710px;
			  }

			  .hero-carousel__element-title-4-2
			  {
				color: $white_font_color;
				background-color: #536A86;
				padding: 20px 40px;
				margin-top: 5px;
				width: 820px;
			  }

			  .hero-carousel__element-text-4
			  {
				margin-top: 20px;
				color: $white_font_color;
			  }

			  .hero-carousel__element-button-4
			  {
				margin-top: 60px;
			  }
			}
		  }
		}

		.hero-carousel__element-5
		{
		  .hero-carousel__element-container-5
		  {
			@include hero-carousel__element_background(5);

			.hero-carousel__element-title-5
			{
			  padding-top: 80px;
			}

			.hero-carousel__element-text-5
			{
			  margin-top: 20px;
			}

			.hero-carousel__element-button-5
			{
			  margin: 40px auto 0;
			}
		  }
		}

		.hero-carousel__pagination
		{
		  width: 145px;
		  height: 45px;
		  border-radius: 3px;
		  background-color: #ffffff;

		  .hero-carousel__pagination-indicator
		  {
			cursor: pointer;
		  }
		}
	  }
	}
  }

  .who_we_are
  {
	height: 670px;

	.who_we_are__headline
	{
	  .who_we_are__headline-title
	  {
		@include font_style($main_font_color, 700 44px/54px 'Lato', sans-serif);
		margin-top: 120px;
	  }

	  .who_we_are__headline-text
	  {
		@include font_style($main_font_color, 21px/33px 'Lato', sans-serif);
		margin-top: 25px;
	  }
	}

	.who_we_are__merit
	{
	  margin-top: 75px;

	  .who_we_are__merit-icon-1
	  {
		background: url(../img/icon_heart_empty.png) no-repeat 50% 0;
	  }

	  .who_we_are__merit-icon-2
	  {
		background: url(../img/icon_lamp_empty.png) no-repeat 50% 0;
	  }

	  .who_we_are__merit-icon-3
	  {
		background: url(../img/icon_star_empty.png) no-repeat 50% 0;
	  }

	  .who_we_are__merit-quality
	  {
		.merit__title
		{
		  @include font_style($main_font_color, 700 26px/34px 'Lato', sans-serif);
		  letter-spacing: 1px;
		}

		.merit__text
		{
		  @include font_style($main_font_color, 600 15px/24px 'Lato', sans-serif);
		  letter-spacing: 0;
		  margin-top: 20px;
		}
	  }
	}
  }

  .latest_works__background
  {
	height: 1265px;
	background-color: rgb(241,245,247);

	.latest_works
	{
	  .latest_works__headline
	  {

		.latest_works__headline-title
		{
		  @include font_style($main_font_color, 600 44px/54px 'Lato', sans-serif);
		  margin-top: 125px;
		}

		.latest_works__headline-text
		{
		  @include font_style($main_font_color, 21px/33px 'Lato', sans-serif);
		  margin-top: 25px;
		}
	  }

	  .latest_works__container
	  {
		margin-top: 70px;

		.latest_works__figure
		{
		  .figure_picture
		  {
			width: 570px;
			height: 390px;
			cursor: pointer;

			.plus_icon
			{
			  opacity: 0;
			  margin-top: 195px;
			}

			&:hover
			{
			  background: 0 -390px rgba(60, 187, 155, 0.9);

			  .plus_icon
			  {
				opacity: 1;
			  }
			}
		  }

		  .figure_picture-1
		  {
			background: url(../img/grand_motel.png) no-repeat 0 0;
		  }

		  .figure_picture-2
		  {
			background: url(../img/brand.png) no-repeat 0 0;
		  }

		  .figcaption
		  {
			height: 110px;
			background-color: white;

			.figcaption_title
			{
			  @include font_style($main_font_color, 600 20px/26px 'Lato', sans-serif);
			  padding-top: 30px;
			  cursor: pointer;

			  &:hover
			  {
				color: $hover_font_color;
			  }
			}

			.figcaption_subheader
			{
			  @include font_style($main_font_color, 14px/18px 'Lato', sans-serif);
			  margin-top: 10px;
			}
		  }
		}

		.latest_works__carousel-container
		{
		  margin-top: 80px;

		  .latest_works__wrapper
		  {
			.latest_works_controls
			{
			  .latest_works__nav-button
			  {
				width: 30px;
				height: 30px;
				border-radius: 3px;
				cursor: pointer;
			  }
			}

			.latest_works__carousel
			{
			  .latest_works__element
			  {
				float: left;

				.latest_works__element-image
				{
				  width: 270px;
				  height: 185px;
				  cursor: pointer;
				  float: left;
				  margin-right: 30px;

				  .latest_works__element-headline
				  {
					display: none;
					margin-top: 70px;
					@include font_style($white_font_color, 700 16px/22px 'Lato', sans-serif);

					.latest_works__element-subheader
					{
					  @include font_style($white_font_color, 14px/18px 'Lato', sans-serif);
					  margin-top: 10px;
					}
				  }

				  &:hover
				  {
					background: 0 -185px rgba(60, 187, 155, 0.9);

					.latest_works__element-headline
					{
					  display: block;
					}
				  }
				}

				.latest_works__element-image-1
				{
				  background: url(../img/simpli_nota.png) no-repeat 0 0;
				}

				.latest_works__element-image-2
				{
				  background: url(../img/record.png) no-repeat 0 0;
				}

				.latest_works__element-image-3
				{
				  background: url(../img/astor.png) no-repeat 0 0;
				}

				.latest_works__element-image-4
				{
				  background: url(../img/signwall.png) no-repeat 0 0;
				  margin-right: 0;
				}
			  }
			}
		  }
		}
	  }
	}
  }

  .get_in_touch
  {
	height: 490px;

	.get_in_touch__container
	{
	  .get_in_touch_title
	  {
		@include font_style($main_font_color, 600 44px/54px 'Lato', sans-serif);
		margin-top: 130px;
	  }

	  .get_in_touch_text
	  {
		@include font_style($main_font_color, 21px/33px 'Lato', sans-serif);
		margin-top: 25px;
	  }

	  .get_in_touch__button
	  {
		margin: 35px auto 0;
		display: block;
		width: 150px;
		height: 50px;
		border-radius: 3px;
		cursor: pointer;
		@include font_style($white_font_color, 700  15px/24px 'Source Sans Pro', sans-serif);
	  }
	}
  }
}

.footer
{
  .footer__background
  {
	background-color: #313F52;
	height: 365px;

	.footer__container
	{
	  .footer__info
	  {
		.footer_block
		{
		  margin-top: 70px;
		  padding: 0;

		  .footer_block__headline
		  {
			@include font_style($white_font_color, 600 17px/24px 'Lato', sans-serif);
			letter-spacing: 1px;
		  }
		}

		.footer_who_we_are
		{
		  .footer_who_we_are__logo
		  {
			margin-top: 20px;
			width: 129px;
			height: 32px;
			background: url(../img/logo_reen.png) no-repeat 0 0;
			cursor: pointer;

			&:hover
			{
			  background: url(../img/logo_reen_hover.png) no-repeat 0 0;
			}
		  }

		  .footer_who_we_are__text
		  {
			@include font_style(rgb(163,177,191), 600 14px/22px 'Lato', sans-serif);
			margin-top: 20px;
			margin-bottom: 15px;
		  }

		  .footer_who_we_are__link
		  {
			width: 130px;
			@include font_style(rgb(163,177,191), 900 14px/22px 'Lato', sans-serif);
			letter-spacing: 1px;
			background: url(../img/icon-right.png) no-repeat 110px 50%;
			cursor: pointer;

			&:hover
			{
			  color: $hover_font_color;
			  background: url(../img/icon-right_hover.png) no-repeat 115px 50%;
			}
		  }
		}

		.footer_latest_works
		{
		  .footer_latest_works__image-container
		  {
			margin: 20px 0 0 0;

			.footer_latest_works__image
			{
			  width: 125px;
			  height: 85px;
			  cursor: pointer;
			  float: left;

			  .plus_icon
			  {
				opacity: 0;
				margin-top: 35px;
			  }

			  &:hover
			  {
				background: 0 -85px rgba(60, 187, 155, 0.9);

				.plus_icon
				{
				  opacity: 1;
				}
			  }
			}

			.footer_latest_works__image-1
			{
			  margin: 0 5px 5px 0;
			  background: url(../img/latest_work_1_small.png) no-repeat 0 0;
			}

			.footer_latest_works__image-2
			{
			  margin: 0 0 5px 0;
			  background: url(../img/latest_work_2_small.png) no-repeat 0 0;
			}

			.footer_latest_works__image-3
			{
			  margin: 0 5px 0 0;
			  background: url(../img/latest_work_3_small.png) no-repeat 0 0;
			}

			.footer_latest_works__image-4
			{
			  background: url(../img/latest_work_4_small.png) no-repeat 0 0;
			}
		  }
		}

		.footer_get_in_touch
		{
		  .footer_get_in_touch__text
		  {
			@include font_style(rgb(163,177,191), 600 14px/22px 'Lato', sans-serif);
			margin-top: 15px;
		  }

		  .footer_get_in_touch__coordinate
		  {
			margin-top: 15px;

			.footer_get_in_touch__coordinate-text-1
			{
			  padding-left: 20px;
			  @include font_style(rgb(163,177,191), 600 14px/22px 'Lato', sans-serif);
			  background: url(../img/icon-location.png) no-repeat 0 50%;
			}

			.footer_get_in_touch__coordinate-text-2
			{
			  padding-left: 20px;
			  @include font_style(rgb(163,177,191), 600 14px/22px 'Lato', sans-serif);
			  background: url(../img/icon-mobile.png) no-repeat 0 50%;
			}

			.footer_get_in_touch__coordinate-text-3
			{
			  padding-left: 20px;
			  @include font_style(rgb(163,177,191), 600 14px/22px 'Lato', sans-serif);
			  background: url(../img/icon-mail.png) no-repeat 0 50%;
			  cursor: pointer;

			  &:hover
			  {
				color: $hover_font_color;
				background: url(../img/icon-mail-hover.png) no-repeat 0 50%;
			  }
			}
		  }
		}

		.footer_free_updates
		{
		  .footer_free_updates__text
		  {
			@include font_style(rgb(163,177,191), 600 14px/22px 'Lato', sans-serif);
			margin-top: 15px;
		  }

		  .footer_free_updates__input
		  {
			margin-top: 15px;

			.footer_free_updates__input-field
			{
			  @include font_style(rgb(163,177,191), 600 14px/22px 'Source Sans Pro', sans-serif);
			  background-color: #505C6C;
			  border-radius: 3px;
			  border: none;
			}

			.footer_free_updates__input-button
			{
			  width: 88px;
			  height: 30px;
			  border-radius: 3px;
			  @include font_style($white_font_color, 600 13px/24px 'Source Sans Pro', sans-serif);
			}
		  }
		}
	  }
	}
  }

  .footer_ending__background
  {
	height: 80px;
	background-color: rgb(41,53,70);

	.footer_ending__container
	{
	  .footer_ending
	  {
		.footer_ending__copyrighted
		{
		  @include font_style(rgb(112,126,140), 600 14px/22px 'Source Sans Pro', sans-serif);
		  padding-top: 30px;
		}

		.footer_ending__menu
		{
		  padding-top: 30px;

		  .footer_ending__menu-element
		  {
			@include font_style(rgb(112,126,140), 600 14px/22px 'Source Sans Pro', sans-serif);
			cursor: pointer;
			margin: 0 5px 0 5px;

			&:before
			{
			  content: "·";
			  margin-right: 10px;
			  color: rgb(112,126,140);
			}

			&:nth-child(1)
			{
			  margin-right: 0;

			  &:before
			  {
				content: "";
			  }
			}

			&:nth-child(6)
			{
			  margin-right: 0;
			}

			&:hover
			{
			  color: $hover_font_color;
			}
		  }
		}
	  }
	}
  }
}

.btn-scrollup
{
  width: 40px;
  height: 40px;
  border-radius: 3px;
  position: fixed;
  right: 20px;
  bottom: 20px;
  cursor: pointer;
  background: url(../img/icon-up-open-mini.png) no-repeat 50% 50%, #506a85;

  &:hover
  {
	background: url(../img/icon-up-open-mini-hover.png) no-repeat 50% 50%, #506a85;
  }
}