@import "header-contact/header-contact";
@import "header-social/header-social";

.header
{
    min-height: 40px;
    background-color: #f5f7f9;

    &__contact
    {
        float: left;
        margin-right: auto;
    }

    &__sociale
    {
        margin-left: auto;
        line-height: 40px;
    }
}