.mega-menu-figure
{
    opacity: 0;
    cursor: pointer;
    position: absolute;
    z-index: 2;
    background-color: rgba(26,187,156,0.9);
    transition: all 200ms ease-out;
    text-align: center;

    &:hover
    {
        opacity: 1;
    }

    &__plus-image
    {
        &_small
        {
            margin-top: 30px;
        }

        &_large
        {
            margin-top: 77px;
        }
    }

    &_small
    {
        width: 118px;
        height: 80px;
        float: left;
    }

    &_large
    {
        width: 240px;
        height: 164px;
    }

    &_one
    {
        margin: 0 5px 5px 0;
    }

    &_two
    {
        margin: 0 0 5px 0;
    }

    &_tree
    {
        margin: 0 5px 5px 0;
    }

    &_four
    {
        margin: 0 0 5px 0;
    }

    &_fifth
    {
        margin: 0 5px 0 0;
    }
}