.hero-carousel
{
    &__nav-button
    {
        &_prev
        {
            margin-left: 30px;
            //width: 16px;
            //height: 27px;
            //background: url("../img/spritesheet.png") no-repeat -32px -19px;

            &:hover
            {
                //background: url("../img/spritesheet.png") no-repeat -380px -60px;
            }
        }

        &_next
        {
            margin-right: 30px;

            &:hover
            {

            }
        }
    }

    &__background
    {
        min-height: 880px;

        &_1
        {
            @extend .hero-carousel__background;
            background: url("../img/hero-carousel__element_background-1.jpg") no-repeat 0 0;
        }

        &_2
        {
            @extend .hero-carousel__background;
            background: url("../img/hero-carousel__element_background-2.jpg") no-repeat 0 0;
        }

        &_3
        {
            @extend .hero-carousel__background;
            background: url("../img/hero-carousel__element_background-3.jpg") no-repeat 0 0;
        }

        &_4
        {
            @extend .hero-carousel__background;
            background: url("../img/hero-carousel__element_background-4.jpg") no-repeat 0 0;
        }

        &_5
        {
            @extend .hero-carousel__background;
            background: url("../img/hero-carousel__element_background-5.jpg") no-repeat 0 0;
        }
    }

    &__container
    {
        &_3
        {
            padding-top: 190px;
        }

        &_4
        {
            padding-top: 70px;
        }
    }

    &__title
    {
        &_1
        {
            padding-top: 290px;
        }

        &_2
        {
            padding-top: 240px;
        }

        &_3-1
        {
            padding: 20px 40px;
            width: 550px;
        }

        &_3-2
        {
            padding: 20px 40px;
            margin-top: 5px;
            width: 740px;
        }

        &_4-1
        {
            padding: 20px 40px;
            width: 710px;
            margin: 0 0 0 auto;
        }

        &_4-2
        {
            padding: 20px 40px;
            width: 820px;
            margin: 5px 0 0 auto;
        }

        &_5
        {
            padding-top: 80px;
        }
    }

    &__text
    {
        &_1
        {
            margin-top: 10px;
            letter-spacing: 0.5px;
        }

        &_2
        {
            margin-top: 20px;
        }

        &_3
        {
            margin-top: 35px;
        }

        &_4
        {
            margin-top: 20px;
        }

        &_5
        {
            margin-top: 20px;
        }
    }

    &__button
    {
        &_1
        {
            margin: 65px auto 0;
        }

        &_2
        {
            margin-top: 60px;
        }

        &_3
        {
            margin-top: 50px;
        }

        &_4
        {
            margin-top: 60px;
        }

        &_5
        {
            margin: 40px auto 0;
        }
    }

    &__pagination
    {
        margin: -20px auto 0;
        width: 145px;
        height: 45px;
        line-height: 45px;
    }
}

.who-we-are
{
    min-height: 670px;

    &__title
    {
        margin-top: 100px;
    }

    &__text
    {
        margin-top: 15px;
    }

    &__merit
    {
        margin: 55px 0 50px 0;
    }
}

.latest-works
{
    &__background
    {
        min-height: 1250px;
    }

    &__title
    {
        margin-top: 100px;
    }

    &__text
    {
        margin-top: 20px;
        margin-bottom: 70px;
    }

    &__carousel
    {
        min-height: 185px;
        margin: 80px auto 130px;
    }
}

.get-in-touch
{
    min-height: 480px;

    &__title
    {
        margin-top: 120px;
    }

    &__text
    {
        margin: 15px 200px 0;
    }

    &__button
    {
        margin: 40px auto 20px;
    }
}