.link
{
    cursor: pointer;

    &:hover
    {
        .link__picture
        {
            background: url("../img/spritesheet.png") no-repeat -322px -20px;
        }
    }

    &__picture
    {
        margin-top: 15px;
        width: 11px;
        height: 9px;
        background: url("../img/spritesheet.png") no-repeat -271px -20px;
        float: left;
    }

}