.logo
{
    cursor: pointer;

    &-small
    {
        @extend .logo;
        margin: 15px 0 0 10px;
        width: 80px;
        height: 20px;
        background: url("../img/spritesheet.png") no-repeat -432px -252px;
        line-height: 50px;
        float: left;

        &:hover
        {
            background: url("../img/spritesheet.png") no-repeat -415px -312px;
        }
    }

    &-large
    {
        @extend .logo;
        width: 161px;
        height: 40px;
        margin: 35px 0;
        background: url("../img/spritesheet.png") no-repeat -438px -20px;
        float: left;

        &:hover
        {
            background: url("../img/spritesheet.png") no-repeat -438px -100px;
        }
    }
}