@import "../../constants";

.btn
{
    cursor: pointer;

    &__link
    {
        height: 50px;
        line-height: 50px;
    }

    &:hover
    {
        background-color: #f5f7f9;
        border: 1px solid #e5e9ed;

        .btn__link
        {
            color: $hover_font_color;
        }
    }

    &_hamburger-menu
    {
        @media screen and (max-width: 1023px)
        {
            cursor: pointer;
            width: 30px;
            height: 30px;
            display: block;
            background: url("../img/hamburger_menu.svg") no-repeat 50% 50%;
            margin: 20px;
        }
    }

    &_social
    {
        @extend .btn;
        float: left;
        padding: 20px 15px;
    }

    &_hero
    {
        @extend .btn;
        font: 700 18px/32px 'Source Sans Pro', sans-serif;
        width: 295px;
        height: 65px;
        border-radius: 3px;
    }
}