.btn
{
    cursor: pointer;

    &:hover
    {
        .btn__link
        {
            color: $hover_font_color;
        }
    }

    &_hamburger-menu
    {
        @media screen and (max-width: 1023px)
        {
            cursor: pointer;
            width: 30px;
            height: 30px;
            display: block;
            background: url("../img/hamburger_menu.svg") no-repeat 50% 50%;
            margin: 20px;
        }
    }

    &_navigation_big
    {
        @extend .btn;
        width: 60px;
        height: 60px;
    }

    &_social
    {
        @extend .btn;
        padding: 20px 15px;
    }

    &_hero
    {
        @extend .btn;
        width: 295px;
        height: 65px;
    }

    &_menu
    {
        @extend .btn;
        height: 50px;
        padding: 15px 18px;
    }

    &_get-in-touch
    {
        @extend .btn;
        width: 150px;
        height: 50px;
    }

    &_border
    {
        &_white
        {
            border: 1px solid #fff;
        }

        &_hover
        {
            &:hover
            {
                border: 1px solid #e5e9ed;
            }
        }

        &_radius-3
        {
            border-radius: 3px;
        }
    }
}