.mennu
{
    &__button
    {
        height: 50px;
        padding: 15px 18px;
        border: 1px solid #fff;
    }

    &__button_main
    {
        @extend .mennu__button;
        margin-top: 5px;
    }
}