@import "merit/merit";

.quality
{
    min-height: 650px;

    &__title
    {
        font: 700 44px/54px 'Lato', sans-serif;
        color: $main_font_color;
        margin-top: 95px;
    }

    &__text
    {
        font: 21px/33px 'Lato', sans-serif;
        color: $main_font_color;
        margin-top: 20px;
    }

    &__merit
    {
        margin-top: 55px;
    }
}