.b-list
{
    &__element
    {
        margin: 5px 0 0 0;
        padding-left: 20px;
        background: url("../img/circle-list-item.png") no-repeat 0 50%;
        font: 600 14px/22px 'Source Sans Pro', sans-serif;
        color: $main_font_color;
        cursor: pointer;
        list-style-type: none;

        &:hover
        {
            color: $hover_font_color;
        }
    }
}