.text
{
    //----------fonts----------
    &_font-hero
    {
        font: 24px/32px 'Lato', sans-serif;
    }

    &_font-h3
    {
        font: 900 78px/88px 'Lato', sans-serif;
        letter-spacing: 3px;
    }

    &_font-nav-button
    {
        font: 700 15px/18px 'Source Sans Pro', sans-serif;
    }

    //----------colors----------
    &_color-white-blackout
    {
        color: #a5b1c0;
    }

    &_color-white
    {
        color: #fff;
    }

    &_color-main
    {
        color: #536a86;
    }

    //----------background colors----------
    &_background-color-main
    {
        background-color: #536a86;
    }
}