.text
{
    &_font
    {
        &_hero
        {
            font: 24px/32px 'Lato', sans-serif;
        }

        &_h3
        {
            font: 900 78px/88px 'Lato', sans-serif;
            letter-spacing: 3px;
        }

        &_nav-button
        {
            font: 700 15px/18px 'Source Sans Pro', sans-serif;
        }

        &_hero-button
        {
            font: 700 18px/32px 'Source Sans Pro', sans-serif;
        }

        &_small
        {
            font: 600 12px/40px 'Source Sans Pro', sans-serif;
        }

        &_h4
        {
            font: 700 44px/54px 'Lato', sans-serif;
        }

        &_block
        {
            font: 21px/33px 'Lato', sans-serif;
        }

        &_merit
        {
            font: 400 15px/24px 'Lato', sans-serif;
        }

        &_h5
        {
            font: 700 26px/34px 'Lato', sans-serif;
        }

        &_h6
        {
            font: 700 20px/26px 'Lato', sans-serif;
        }

        &_figcaption
        {
            font: 14px/18px 'Lato', sans-serif;
        }

        &_figure-small
        {
            font: 700 16px/22px 'Lato', sans-serif;
        }
    }

    &_color
    {
        &_white-blackout
        {
            color: #a5b1c0;
        }

        &_white
        {
            color: #fff;
        }

        &_main
        {
            color: #536a86;
        }

        &_hover
        {
            &:hover
            {
                color: #3cbb9b;
            }
        }
    }

    &_uppercase
    {
        text-transform: uppercase;
    }
}