.navbar
{
    min-height: 110px;

    @media screen and (max-width: 1023px)
    {
        min-height: 50px;
    }

    &__logo
    {

    }

    &__search-form
    {
        width: 12px;
        height: 12px;
        background: url("../img/spritesheet.png") no-repeat -380px -220px;
        margin: 50px 20px 20px auto;
        cursor: pointer;

        @media screen and (max-width: 1023px)
        {
            margin: 20px 20px 20px auto;
        }
    }

    &__menu-main
    {
        margin-left: 70px;
    }
}